<%= render 'shared/sidebar' %>
<%= render 'shared/mininavbar' %>

<div class="form date">
  <div class="container container-event d-flex">

    <div class="calendar" data-controller="flatpickr">
      <input type="date" class="form-control form-control-solid" id="date-event" name="trip-start" value="<%=@steps.first.start_date%>" data-start=" <%=@project_date_start%>"  data-end=" <%=@project_end_start%>" data-flatpickr-target="calendar">
    </div>

    <div class=" events" data-controller="date">
      <div class="container d-flex justify-content-center">
        <i class="fas fa-caret-left" id="previous"></i> <H3 id="date_jour">Programme du <%= @steps.first.start_date.strftime("%d/%m/%Y") %> </H3><i class="fas fa-caret-right" id="next"></i>
      </div>

      <div class=" container d-flex justify-content-center", id="logement">
        <div class="event-type">
          <i id="fontawesome", class="fas fa-bed" ><h6 style="font-family: Open sans">Logement</h6></i>
          <% @events.each do |event| %>
            <% if  event.event_type == "Logements" %>
              <div class="container event" data-date-event=<%=event.date%>>
                  <li class="list-unstyled"> <strong><%= event.duration.capitalize %></strong>: <%=event.name %>, <%= event.address %></li>
                  <li class="list-unstyled">Prix: <%= event.price %>€ - <%= event.description %></li>
                  <li class="list-unstyled"><br></li>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="container d-flex justify-content-center", id="restaurant">
        <div class="event-type">
          <i id="fontawesome", class="fas fa-utensils">  Restaurant</i>
          <% @events.each do |event| %>
            <% if  event.event_type == "Restaurants" %>
              <div class="container event" data-date-event=<%=event.date%>>
                <li class="list-unstyled"> <strong><%= event.duration.capitalize %></strong>: <%=event.name %>, <%= event.address %></li>
                <li class="list-unstyled">Prix: <%= event.price %>€ - <%= event.description %></li>
                <li class="list-unstyled"><br></li>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="container d-flex justify-content-center", id="activités">
        <div class="event-type">
        <i id="fontawesome", class="fas fa-running">   Activités</i>
          <% @events.each do |event| %>
            <% if  event.event_type == "Activités" %>
              <div class="container event" data-date-event=<%=event.date%>>
                <li class="list-unstyled"> <strong><%= event.duration.capitalize %></strong>: <%=event.name %>, <%= event.address %></li>
                <li class="list-unstyled">Prix: <%= event.price %>€ - <%= event.description %></li>
                <li class="list-unstyled"><br></li>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="container d-flex justify-content-center", id="notes">
        <div class="event-type">
        <i id="fontawesome", class="fas a-comment-dots">   Notes</i>
          <% @events.each do |event| %>
            <% if  event.event_type == "Notes" %>
              <div class="container event" data-date-event=<%=event.date%>>
                <li class="list-unstyled"><%= event.description %></li>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div>
        <button type="button" class="btn-principal" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa fa-plus"></i>
        </button>
      </div>

    </div>

      <!-- Modal -->
    <div id="event_date" data-controller="form modal">
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content width-modal">
            <%= render 'shared/form', project: @project, step: @step, event: @event %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= console %>
