<div class="container-form">
  <h3>Project details</h3>
  <div class="d-flex justify-content-between">
    <p style="font-size: 12px;">Please fill your information about your project</p>
    <b style="font-size: 12px;">2/3</b>
  </div>
  <%= simple_form_for(@project) do |f| %>

    <%= f.input :season,
                as: :radio_buttons,
                label: "Une saison :",
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'},
                collection: Project::PROJECT_SEASON %>

    <%= f.input :transport,
                as: :radio_buttons,
                label: "Un moyen de transport :",
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'},
                collection: Project::PROJECT_TRANSPORT %>

    <%= f.input :theme,
                as: :radio_buttons,
                label: "Un ou plusieurs thème(s) :",
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'},
                collection: Project::PROJECT_THEME %>

    <%= f.input :profil, as: :radio_buttons, label: "Un profil type pour le budget :", collection: Project::PROJECT_PROFIL, wrapper: :vertical_collection_inline %>
    <%= f.input :total_budget, label: "Un budget max :", placeholder: '€' %>
    <div class="d-grid gap-2">
      <%= f.submit "Continue", class: "btn-principal" %>
    </div>
  <% end %>
</div>
