<%= render 'shared/mininavbar' %>


<div class="container">

  <h1>  <%= @project.name %></h1>

  <div class="d-flex justify-content-between">
    <div>
      <h2>******************ICI LA CARTE*******************</h2>
    </div>
    <div>
      <H2>Etapes:</H2>
      <button type="button" id="myBtn">
        <i class="fa fa-plus"></i>
      </button>
      <!-- The Modal -->
      <div id="myModal" class="modal-custom">
        <div class="modal-content">
          <div class="d-flex justify-content-center">
            <%= render './steps/form', project: @project, step: @step %>
            <span class="close">&times;</span>
          </div>
        </div>
      </div>

      <% @project.steps.each do |step| %>
        <p>city : <%= step.city %> </p>
        <p>start date : <%= step.start_date %> </p>
        <p>end date : <%= step.end_date %> </p>
        <%= link_to project_step_path( @project, step), method: :delete do %>
            <i class="fa fa-trash" ></i>
        <% end %>
        <%= link_to edit_project_step_path( @project, step) do %>
          <i class="fa fa-edit"></i>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
