<%= render 'shared/mininavbar' %>
<%= render 'shared/sidebar' %>

<div class="container" >

  <h4 style="margin-top: 20px"> <%= @project.name %></h4>

  <div class="d-flex justify-content-around mt-3">
    <div class="map">
      <div style="width: 600px; height: 500px; border-radius: 15px"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="resume">
        <h6 class="mt-3">Description</h6>
        <p><%= @project.description %></p>
        <div class="d-flex justify-content-between" style="width: 450px;">
          <div class="picto">
            <h6 class="mt-3">Saison</h6>
            <% if @project.season == "été" %>
              <i class="fas fa-sun"></i>
            <% end %>
            <% if @project.season == "automne" %>
              <i class="fab fa-canadian-maple-leaf"></i>
            <% end %>
            <% if @project.season == "printemps" %>
              <i class="fas fa-sun"></i>
            <% end %>
            <% if @project.season == "hiver" %>
              <i class="fas fa-snowflake"></i>
            <% end %>
          </div>
          <div class="picto">
          <h6 class="mt-3">Transport</h6>
            <% if @project.transport == "voiture" %>
              <i class="fas fa-car"></i>
            <% end %>
            <% if @project.transport == "avion" %>
              <i class="fas fa-plane"></i>
            <% end %>
            <% if @project.transport == "train" %>
              <i class="fas fa-train"></i>
            <% end %>
          </div>
          <div class="picto">
          <h6 class="mt-3">Thème</h6>
              <% if @project.theme == "culture" %>
                <i class="fas fa-university"></i>
              <% end %>
              <% if @project.theme == "gastronomie" %>
                <i class="fas fa-utensils"></i>
              <% end %>
              <% if @project.theme == "nature" %>
                <i class="fas fa-mountain"></i>
              <% end %>
          </div>
          <div class="picto">
          <h6 class="mt-3">Budget</h6>
          <%= @project.profil %>
          </div>
        </div>
      </div>
    </div>

      <!-- The Modal -->
    <div id="myModal" class="modal-custom" data-controller="modal">
      <div class="modal-content">
        <div class="d-flex justify-content-center">
          <%= render './steps/form', project: @project, step: @step %>
          <span class="close">&times;</span>
        </div>
      </div>
    </div>


      <div class="main">
            <div class="timeline">
              <div class= "timetop">
                <div class="d-flex justify-content-evenly">
                  <h3>Etapes</h3>
                  <button type="button" id="myBtn">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>

              <div class="box">
                <div class="container">
                  <div class="lines">
                    <% @stepcounter.times do %>
                      <div class="dot"></div>
                      <div class="line"></div>
                    <% end %>
                    <div class="dot"></div>
                  </div>
                  <div class="cardstime">
                    <% @steps.each do |step| %>
                      <div class="card">
                          <div class="d-flex justify-content-between">
                            <h4><%= step.city.capitalize %></h4>
                            <div>
                              <%= link_to project_step_path( @project, step), method: :delete do %>
                                <i class="fa fa-trash" ></i>
                              <% end %>
                              <%= link_to edit_project_step_path( @project, step) do %>
                                <i class="fa fa-edit"></i>
                              <% end %>
                            </div>
                          </div>
                        <p>Du <%= step.start_date.strftime("%d/%m/%Y") %> au <%= step.end_date.strftime("%d/%m/%Y") %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>
